body {
  font-family: "Noto Sans", sans-serif;
}

.footer .icon-link {
  font-size: 25px;
  color: #000;
}

.link-block a {
  margin-top: 5px;
  margin-bottom: 5px;
}

.dnerf {
  font-variant: small-caps;
}

.teaser .hero-body {
  padding-top: 0;
  padding-bottom: 3rem;
}

.teaser {
  font-family: "Google Sans", sans-serif;
}

.publication-banner {
  max-height: parent;
}

.publication-banner video {
  position: relative;
  left: auto;
  top: auto;
  transform: none;
  object-fit: fit;
}

.publication-title,
.publication-authors {
  font-family: "Google Sans", sans-serif;
}

.publication-venue {
  color: #555;
  width: fit-content;
  font-weight: bold;
}

.publication-awards {
  color: #ff3860;
  width: fit-content;
  font-weight: bolder;
}

.publication-authors a {
  color: hsl(204, 86%, 53%) !important;
}

.publication-authors a:hover {
  text-decoration: underline;
}

.author-block {
  display: inline-block;
}

.publication-video {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
  border-radius: 10px !important;
}

.publication-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.results-carousel {
  overflow: hidden;
}

.results-carousel .item {
  margin: 5px;
  overflow: hidden;
  padding: 20px;
  font-size: 0;
}

.results-carousel .item .item-video {
  margin: 5px;
  overflow: hidden;
  padding: 20px;
  font-size: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.results-carousel .item .item-video video.single-video {
  margin-left: 200px;
  margin-right: 50px;
  max-width: 100%;
  width: auto;
  height: auto;
  align-items: center;
  justify-content: center;
}

.results-carousel video {
  margin: 0;
  max-width: 50%;
}

.slider-pagination .slider-page {
  background: #000;
}

.eql-cntrb {
  font-size: smaller;
}

.placeholder-link {
  cursor: default;
  pointer-events: none;
}

.teaser img,
.figure-block img,
.results-block img {
  display: block;
  width: 100%;
  height: auto;
}

.teaser-caption,
.figure-block p {
  margin-top: 1rem;
}

.results-block img + img {
  margin-top: 2rem;
}

pre {
  white-space: pre-wrap;
  overflow-wrap: anywhere;
}

@media screen and (max-width: 768px) {
  .has-text-justified {
    text-align: left !important;
  }
}
